<h1>Add a New Brand</h1>

<%= render partial: 'layouts/errors', locals: {object: @brand} %>

<%= form_with model: @brand, local: true do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %><br>
  <%= f.label :name, "Owner" %>
  <%= f.text_field :owner %>

  <%= f.submit  %>
<% end %>