<h1><%= @brand.name%> - Owned By <%= @brand.owner %> </h1>
<%= logos %><br>
<%= link_to('Delete Brand', brand_path(@brand), method: 'delete') %>

<%= render @brand.shoes %>
<% if @brand %>
<%= link_to "Create a shoe", new_brand_shoe_path(@brand) %>
<% end %>